* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.header__titulo {
    margin: 50px;
}


#contenedor-tarea {
    margin: 20px;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}

input {
    flex: 5;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 5px;
}

#aniadir-tarea {
    width: 60px;
    border-radius: 10px;
    font-size: 1.2rem;
}
#aniadir-tarea:hover {
    background-color: gray;
    color: #fff;
}